{% include "header.html" %}

{% block content %}

<div class="page">
    <h1>About </h1>
    <br>
    <div class="row">
        <div class="col-lg-6">
            <p>
                Welcome to MS, your one-stop shop for all your [product/service] needs. We are a family-owned business that has been operating for [number of years] and we pride ourselves on offering high-quality products at an affordable price.
        
                Our mission is to provide our customers with the best shopping experience possible. We understand that shopping online can be daunting, which is why we have made it our mission to make it as easy and stress-free as possible. From browsing our wide selection of products to receiving your order, we strive to provide a seamless and enjoyable shopping experience.
                
                We believe in providing a wide range of products to suit everyone's needs. We have carefully curated our selection of [products/services] to ensure that you will find what you are looking for. We are constantly updating our inventory and adding new products to ensure that we are offering the latest and greatest [products/services].
                
                Our team is dedicated to providing exceptional customer service. If you have any questions or concerns, please don't hesitate to contact us. We are always happy to help and will do our best to ensure that you are completely satisfied with your purchase.
                
                We value our customers and appreciate your support. Thank you for choosing MS for your [product/service] needs.
                
                You can contact us by email: [email address], phone: [phone number], or by visiting our physical store at [address]
                
                Thank you for visiting our About page and we hope you enjoy shopping with us!
            </p>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <img src="/static/img/about-img.png" alt="">
        </div>

    </div>

</div>

{% endblock %}

{% include "footer.html" %}