<footer contentEditable>
    <div class="row">
        <div class="col-lg-10">
            <h4>My Store</h4>
            <span>copyrights Boris 2023</span>
        </div>
        <div class="col-lg-2 fs-2">
            <a href=""><i class="footer-icon bi bi-facebook"></i></a>
            <a href=""><i class="footer-icon bi bi-instagram"></i></a>
            <a href=""><i class="footer-icon bi bi-twitter"></i></a>
            <a href=""><i class="footer-icon bi bi-tiktok"></i></a>
        </div>
    </div>
</footer>

</body>
    
</html>
